<!DOCTYPE html>
<th:block data-th-replace="~{base :: baseHTML(~{::link}, ~{::title}, ~{::#content}, ~{::script})}">
    <link rel="stylesheet" />
    <title>SCM || Add Contact</title>
    <th:block id="content">
        <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-2 lg:col-span-3"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6">
                <form
                    class="mx-auto my-4 w-[95%] md:w-4/5 p-6 bg-white border border-gray-200 rounded-lg shadow space-y-4 dark:bg-gray-800 dark:border-gray-700"
                >
                    <div>
                        <p class="text-2xl text-slate-700 dark:text-slate-200">Add Contact</p>
                        <p class="text-md text-slate-400 dark:text-slate-600">
                            The contact will be stored on cloud, you can direct mail this client using SCM.
                        </p>
                    </div>

                    <!-- name -->
                    <div>
                        <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                            Name</label
                        >
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <i class="fa-solid fa-user w-4 h-4 text-slate-800 dark:text-white"></i>
                            </div>
                            <input
                                type="text"
                                id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Name"
                            />
                        </div>
                    </div>

                    <!-- email -->
                    <div>
                        <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                            Email</label
                        >
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <i class="fa-solid fa-envelope w-4 h-4 text-slate-800 dark:text-white"></i>
                            </div>
                            <input
                                type="text"
                                id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@email.com"
                            />
                        </div>
                    </div>

                    <!-- email -->
                    <div></div>

                    <!-- email -->
                    <div></div>

                    <!-- email -->
                    <div></div>
                </form>
            </div>
        </div>
    </th:block>
    <script>
        console.log("This is Add Contact page!!!");
    </script>
</th:block>
