<!DOCTYPE html>
<th:block data-th-replace="~{base :: baseHTML(~{::link}, ~{::title}, ~{::#content}, ~{::script})}">
    <link rel="stylesheet" />
    <title>SCM || Contacts</title>
    <th:block id="content">
        <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-2 lg:col-span-3"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6">Contacts Page</div>
        </div>
    </th:block>
    <script>
        console.log("This is All Contacts page!!!");
    </script>
</th:block>
