<!DOCTYPE html>
<th:block data-th-replace="~{base :: baseHTML(~{::link}, ~{::title}, ~{::#content}, ~{::script})}">
    <link rel="stylesheet" />
    <title>SCM || Profile</title>
    <th:block id="content"> Profile Page </th:block>

    <!-- <th:block id="content">
        <p>profile page works!</p>
        <th:block data-th-if="${loggedInUser}">
            <h3 data-th-text="${loggedInUser}"></h3>
            <h4>User is logged in</h4>
            <span data-th-text="${loggedInUser.email}"></span><br />
            <span data-th-text="${loggedInUser.enabled}"></span>
        </th:block>
    </th:block> -->
    <script>
        console.log("This is Home Page!!!");
    </script>
</th:block>
