<!DOCTYPE html>
<th:block data-th-replace="~{base :: baseHTML(~{::link}, ~{::title}, ~{::#content}, ~{::script})}">
    <link rel="stylesheet" />
    <title>SCM || Profile</title>
    <th:block id="content">
        <div class="sm:ml-4 pt-20 max-h-full">
            <div class="flex justify-center flex-col items-center">
                <h1 class="text-slate-800 text-5xl dark:text-slate-200 sm:text-2xl">Welcome to Profile page</h1>
                <p class="text-slate-500 dark:text-slate-600 sm:text-xl">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ratione!
                </p>
            </div>
        </div>
    </th:block>
    <script>
        console.log("This is Profile page!!!");
    </script>
</th:block>
