<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SCM || Profile</title>
    </head>
    <body>
        <h3 data-th-text="${username}"></h3>
        <p>profile page works!</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt facilis eum voluptates quos quo molestias sint
            praesentium explicabo similique, sequi repudiandae distinctio accusantium voluptatibus? Earum illum
            repudiandae necessitatibus veritatis obcaecati.
        </p>
    </body>
</html>
