<!DOCTYPE html>
<th:block data-th-replace="~{base :: baseHTML(~{::link}, ~{::title}, ~{::#content}, ~{::script})}">
    <link rel="stylesheet" />
    <title>SCM || Contacts</title>
    <th:block id="content">
        <div class="grid grid-cols-12 mt-2">
            <div class="col-span-12 lg:col-span-2"></div>
            <div class="col-span-12 lg:col-span-8 flex flex-col align-middle justify-center sm:px-1 md:px-2">
                <!-- heading -->
                <h3 class="text-2xl tracking-wide text-slate-800 dark:text-slate-200 text-center">
                    Contacts List Page
                </h3>
                <h6 class="text-sm text-slate-800 dark:text-slate-500 text-center">List of all your contacts...</h6>

                <!-- table -->
                <div class="mt-4 relative overflow-x-auto shadow-md sm:rounded-lg" data-th-if="${userContactList}">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead
                            class="text-xs text-gray-700 uppercase bg-slate-200 dark:bg-slate-600 dark:text-gray-400"
                        >
                            <tr>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">Phone</th>
                                <th scope="col" class="px-6 py-3">Links</th>
                                <th scope="col" class="px-6 py-3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                data-th-each="userContact : ${userContactList.getContent()}"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700"
                            >
                                <th
                                    scope="row"
                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                                >
                                    <img
                                        class="w-10 h-10 rounded-full"
                                        data-th-src="@{${userContact.picture}}"
                                        data-th-alt="${userContact.name}"
                                        onerror="this.src='https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg';"
                                    />
                                    <div class="ps-3">
                                        <div data-th-text="${userContact.name}" class="text-base font-semibold"></div>
                                        <div
                                            data-th-text="${userContact.email}"
                                            class="font-normal text-gray-500"
                                        ></div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    <i class="fa-solid fa-phone mr-1"></i>
                                    <th:block data-th-text="${userContact.phoneNumber}"></th:block>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center space-x-2">
                                        <a data-th-href="@{${userContact.linkedInLink}}" target="_blank">
                                            <i class="fa-solid fa-link text-blue-800 dark:text-blue-600"></i>
                                        </a>

                                        <a data-th-href="@{${userContact.linkedInLink}}" target="_blank">
                                            <i class="fa-brands fa-linkedin-in text-blue-800 dark:text-blue-600"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="px-6 py-4 space-x-2">
                                    <a href="#" class="font-medim">
                                        <i class="fa-solid fa-envelope text-red-600"></i>
                                    </a>
                                    <a href="#" class="font-medim">
                                        <i class="fa-solid fa-phone-volume text-teal-800 dark:text-teal-600"></i>
                                    </a>
                                    <a href="#" class="font-medim">
                                        <i class="fa-solid fa-pen-to-square text-blue-800 dark:text-blue-600"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                <nav class="mt-2 ml-auto" aria-label="Page navigation ">
                    <ul class="inline-flex -space-x-px text-base h-10">
                        <li data-th-unless="${userContactList.first}">
                            <a
                                data-th-href="@{'/user/contacts?size='+${pageSize}+'&page=' + ${userContactList.number-1}}"
                                class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            >
                                Previous
                            </a>
                        </li>
                        <li data-th-each="index :  ${#numbers.sequence(0,userContactList.totalPages-1)}">
                            <a
                                data-th-href="@{/user/contacts(size=${pageSize}, page=${index})}"
                                data-th-classappend="${index==userContactList.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            >
                                <th:block data-th-text="${index+1}"></th:block>
                            </a>
                        </li>

                        <li data-th-unless="${userContactList.last}">
                            <a
                                data-th-href="@{'/user/contacts?size='+${pageSize}+'&page=' + ${userContactList.number+1}}"
                                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>

                <div data-th-unless="${userContactList}" class="mt-4 flex flex-col align-middle justify-items-center">
                    <h1 class="text-3xl sm:text-2xl text-slate-500 dark:text-slate-700 text-center">
                        Your Contact List is EMPTY!
                    </h1>
                    <h6 class="text-sm text-slate-500 dark:text-slate-700 text-center">Add contacts here...</h6>
                    <a
                        type="button"
                        data-th-href="@{/user/contacts/add-contact}"
                        class="mt-2 focus:outline-none text-white max-w-fit self-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                    >
                        Add Contact
                    </a>
                </div>
            </div>
        </div>
    </th:block>
    <script>
        console.log("This is All Contacts page!!!");
    </script>
</th:block>
