<nav data-th-fragment="navbar" class="shadow-md dark:bg-slate-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="flex flex-row items-center justify-center space-x-1 md:space-x-2 lg:space-x-3">
            <button
                data-th-if="${loggedInUser}"
                data-drawer-target="sidebar"
                data-drawer-toggle="sidebar"
                aria-controls="sidebar"
                type="button"
                class="inline-flex items-center p-[6px] text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            >
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                    ></path>
                </svg>
            </button>

            <a data-th-href="@{/home}" class="flex items-center space-x-1 rtl:space-x-reverse">
                <img data-th-src="@{/images/scm-logo.png}" class="h-8 rounded-full" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SCM</span>
            </a>
        </div>

        <div class="flex gap-2 md:order-2 md:space-x-0 rtl:space-x-reverse">
            <button id="toggle-theme-btn" class="px-3 rounded-md bg-slate-200 dark:bg-slate-800 dark:text-slate-100">
                <i class="fa-solid fa-circle-half-stroke"></i>
                <span>Dark</span>
            </button>

            <th:block data-th-unless="${loggedInUser}">
                <a
                    type="button"
                    data-th-href="@{/signup}"
                    class="text-gray-800 bg-transparent border border-blue-700 hover:text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:text-white dark:focus:ring-blue-800 dark:bg-transparent"
                >
                    Signup
                </a>

                <a
                    type="button"
                    data-th-href="@{/login}"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Login
                </a>
            </th:block>

            <th:block data-th-if="${loggedInUser}">
                <img
                    data-th-unless="${loggedInUser.profilePicture} == 'default.png'"
                    id="avatarButton"
                    type="button"
                    data-dropdown-toggle="userDropdown"
                    data-dropdown-placement="bottom-start"
                    class="ml-1 w-10 h-10 rounded-full cursor-pointer"
                    data-th-src="${loggedInUser.profilePicture}"
                    alt="User dropdown"
                />

                <span
                    data-th-if="${loggedInUser.profilePicture} == 'default.png'"
                    data-dropdown-toggle="userDropdown"
                    data-dropdown-placement="bottom-start"
                    class="flex items-center justify-center select-none ml-1 w-10 h-10 rounded-full cursor-pointer bg-slate-200 text-slate-800 dark:bg-slate-800 dark:text-slate-200"
                    data-th-text="${loggedInUser.name.toUpperCase().charAt(0)}"
                >
                </span>

                <!-- Dropdown menu -->
                <div
                    id="userDropdown"
                    class="select-none z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                >
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        <div data-th-text="${loggedInUser.name}"></div>
                        <div class="font-medium truncate" data-th-text="${loggedInUser.email}"></div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                        <li>
                            <a
                                data-th-href="@{/user/profile}"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >
                                Profile
                            </a>
                        </li>
                        <li>
                            <a
                                data-th-href="@{/user/dashboard}"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            >
                                Dashboard
                            </a>
                        </li>
                    </ul>
                    <div class="py-1">
                        <a
                            data-th-href="@{/logout}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                        >
                            Logout
                        </a>
                    </div>
                </div>
            </th:block>

            <button
                data-collapse-toggle="navbar-sticky"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-sticky"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"
                    />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
                <li>
                    <a
                        data-th-href="@{/home}"
                        class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                        aria-current="page"
                    >
                        Home
                    </a>
                </li>
                <li>
                    <a
                        data-th-href="@{/about}"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                    >
                        About
                    </a>
                </li>
                <li>
                    <a
                        data-th-href="@{/services}"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                    >
                        Services
                    </a>
                </li>
                <li>
                    <a
                        data-th-href="@{/contact}"
                        class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                    >
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
