<!----------------------------------------------------------->
<!--  This base will be used by other pages as fragment,   -->
<!-- and link, title, pageContent, scripts will be passed. -->
<!----------------------------------------------------------->
<!DOCTYPE html>
<html lang="en" data-th-fragment="baseHTML(link, title, pageContent, script)">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" data-th-href="@{/images/favicon.ico}" />

        <!-- tailwindcss output -->
        <link data-th-href="@{/css/output.css}" rel="stylesheet" />

        <!-- flowbite css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

        <!-- fontawsome library css -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-----------------------------------------------------
            below tags will be replaced with link and title 
        ------------------------------------------------------->
        <th:block data-th-replace="${link}"></th:block>
        <th:block data-th-replace="${title}"></th:block>
    </head>
    <body class="bg-slate-50 dark:bg-slate-900">
        <!-----------------------------------------------------
            below tags will be replaced with navbar, sidebar
            pageContent and script being passed into baseHTML.
        ------------------------------------------------------->
        <th:block data-th-replace="~{fragments/navbar.html :: navbar}"></th:block>
        <th:block data-th-if="${loggedInUser}" data-th-replace="~{fragments/sidebar.html :: sidebar}"></th:block>
        <th:block data-th-insert="${pageContent}"></th:block>
        <th:block data-th-replace="${script}"></th:block>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script data-th-src="@{/scripts/script.js}"></script>
    </body>
</html>
