<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: baseHTML(~{:: link}, ~{:: title}, ~{:: #content}, ~{::script})}">
    <head>
        <title>SCM || login</title>
        <link rel="stylesheet" href="" />
    </head>
    <body>
        <div id="content" class="w-full grid grid-cols-12">
            <div class="col-span-12 md:col-span-2 lg:col-span-3"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6">
                <form
                    method="post"
                    data-th-action="@{/authenticate}"
                    class="w-11/12 md:w-9/12 lg:w-4/5 mx-auto my-6 p-4 bg-white space-y-4 border-t-[10px] border-blue-600 rounded-2xl shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-blue-800"
                    novalidate
                >
                    <div th:if="${param.error}">
                        <th:block data-th-replace="~{fragments/messages::errorMessageFragment(~{::#error-message})}">
                            <p id="error-message">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                        </th:block>
                    </div>
                    <div th:if="${param.logout}">
                        <th:block data-th-replace="~{fragments/messages::successMessageFragment(~{::#logout-message})}">
                            <p id="logout-message">You have been logged out.</p>
                        </th:block>
                    </div>

                    <h5 class="text-2xl font-medium text-gray-900 dark:text-white">Login to our platform</h5>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Your email
                        </label>
                        <input
                            type="email"
                            name="email"
                            id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="name@email.com"
                            required
                        />
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Your password
                        </label>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required
                        />
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input
                                    id="remember"
                                    type="checkbox"
                                    value=""
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    required
                                />
                            </div>
                            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                Remember me
                            </label>
                        </div>
                        <a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">
                            Lost Password?
                        </a>
                    </div>
                    <button
                        type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        Login to your account
                    </button>

                    <!-- Social Login Options -->
                    <div class="text-center space-y-3">
                        <div class="inline-flex items-center justify-center w-full">
                            <hr class="w-64 h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
                            <span
                                class="absolute px-3 font-medium text-slate-500 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-800"
                            >
                                Signin Options
                            </span>
                        </div>
                        <a
                            data-th-href="@{/oauth2/authorization/google}"
                            data-tooltip-target="tooltip-google"
                            data-tooltip-placement="top"
                            type="button"
                        >
                            <img data-th-src="@{/images/google-logo.png}" class="w-6 h-6" />
                        </a>
                        <div
                            id="tooltip-google"
                            role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
                        >
                            Singin with Google
                        </div>

                        <a
                            data-th-href="@{/oauth2/authorization/github}"
                            data-tooltip-target="tooltip-github"
                            data-tooltip-placement="top"
                            type="button"
                            class="ml-3"
                        >
                            <img data-th-src="@{/images/github-logo.png}" class="w-6 h-6" />
                        </a>
                        <div
                            id="tooltip-github"
                            role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
                        >
                            Singin with Github
                        </div>
                        <!-- Social Login Ends -->

                        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                            Not registered?
                            <a data-th-href="@{/signup}" class="text-blue-700 hover:underline dark:text-blue-500">
                                Create account
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            console.log("login Page!!");
        </script>
    </body>
</html>
